    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RMIT Marketing Ad URL</title>
    </head>
    <body>
        <br>
    <h1>RMIT Marketing Ad URL Scanning System</h1>
    <h2>Upload your URL.xlsx file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload and Process">
    </form>
</body>
    </html>